<h3><center>Pandas - A Python Library</center></h3>
<hr>

**Q1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.**

In [48]:
import pandas as pd

data = [12.23, 13.32, 100, 36.32]
series = pd.Series(data)

print("Pandas Series:")
print(series)

print("\nAccessing elements in the Series:")
print("First element:", series[0])
print("Second element:", series[1])
print("Third element:", series[2])
print("Fourth element:", series[3])

Pandas Series:
0     12.23
1     13.32
2    100.00
3     36.32
dtype: float64

Accessing elements in the Series:
First element: 12.23
Second element: 13.32
Third element: 100.0
Fourth element: 36.32

**Q2. Write a Python program to convert a Panda module Series to Python list and it's type.**

In [94]:
data = [12.23, 13.32, 100, 36.32]
series = pd.Series(data)

python_list = series.tolist()

print("Python List:", python_list)
print("Type of Python List:", type(python_list))

Python List: [12.23, 13.32, 100.0, 36.32]
Type of Python List: <class 'list'>

**3. Write a Python program to add, subtract, multiple and divide two Pandas Series. <br> Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]**

In [99]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

addition_result = series1.add(series2)
print("Addition Result:")
print(addition_result)

subtraction_result = series1.subtract(series2)
print("\nSubtraction Result:")
print(subtraction_result)

multiplication_result = series1.multiply(series2)
print("\nMultiplication Result:")
print(multiplication_result)

division_result = series1.divide(series2)
print("\nDivision Result:")
print(division_result.round(2))

Addition Result:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction Result:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication Result:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division Result:
0    2.00
1    1.33
2    1.20
3    1.14
4    1.11
dtype: float64

**Q4. Write a Python program to get the powers of an array values element-wise.** 
Note: First array elements raised to powers from second array <br>
**Expected Output:**
Original array
[0 1 2 3 4 5 6]
First array elements raised to powers from second array, element-wise:
[ 0 1 8 27 64 125 216]

In [77]:
base_array = np.array([ 1, 2, 3, 4, 5, 6])
exponent_array = np.array([3, 3, 3, 3, 3, 3])

result_array = np.power(base_array, exponent_array)

print("Original base array:")
print(base_array)
print("\nOriginal exponent array:")
print(exponent_array)
print("\nFirst array elements raised to powers from second array, element-wise:")
print(result_array)

Original base array:
[1 2 3 4 5 6]

Original exponent array:
[3 3 3 3 3 3]

First array elements raised to powers from second array, element-wise:
[  1   8  27  64 125 216]

**Q5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.** <br>
**Sample Python dictionary data and list labels:** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>} <br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [104]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("DataFrame:")
print(df)

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**Q6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.** <br>
**Sample Python dictionary data and list labels:** <br>
<b>exam_data </b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] <br>}<br>
<b>labels </b>= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [132]:
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("DataFrame Summary:")
df.info()

print("\nStatistical Summary of Numeric Columns:")
df.describe()

print("\nFirst Few Rows of the DataFrame:")
print(df.head())

DataFrame Summary:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

Statistical Summary of Numeric Columns:

First Few Rows of the DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no

**Q7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:** <br>
<b>exam_data</b>= {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b>= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [134]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

first_3_rows = df.head(3)

print("First 3 Rows of the DataFrame:")
print(first_3_rows)

First 3 Rows of the DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

**Q8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame.** <br>
**Sample Python dictionary data and list labels:** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [138]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_columns = df[['name', 'score']]

print("Selected Columns ('name' and 'score'):")
print(selected_columns)

Selected Columns ('name' and 'score'):
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

**Q9. Write a Python program to select the specified columns and rows from a given data frame.**
**Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [150]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_data = df.loc[['a', 'c', 'e', 'f'], ['name', 'score']]

print("Selected Data:")
print(selected_data)

Selected Data:
        name  score
a  Anastasia   12.5
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0

**Q10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.** <br>
<b> exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b> labels</b>  = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [152]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_rows = df[df['attempts'] > 2]

print("Rows where the number of attempts is greater than 2:")
print(selected_rows)

Rows where the number of attempts is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

**Q11. Write a Python program to count the number of rows and columns of a DataFrame.
Sample data:** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [159]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

num_rows, num_columns = df.shape

print("Number of Rows:", num_rows)
print("Number of Columns:", num_columns)

Number of Rows: 10
Number of Columns: 4

**Q12. Write a Python program to select the rows where the score is missing, i.e. is NaN.** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [172]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

rows_with_nan_score = df[df['score'].isna()]

# Display the result
print(rows_with_nan_score)

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

**Q13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.**

In [175]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_rows = df[(df['attempts'] < 2) & (df['score'] > 15)]

print(selected_rows)

    name  score  attempts qualify
j  Jonas   19.0         1     yes

**Q14. Write a Python program to change the score in row 'd' to 11.5.** <br>
<b> exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] <br>}<br>
<b> labels</b>  = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [180]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

df.loc['d', 'score'] = 11.5

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**Q15. Write a Python program to calculate the sum of the examination attempts by the
students.** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [182]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

total_attempts = df['attempts'].sum()

print(total_attempts)

19

**Q16. Write a Python program to calculate the mean score for each different student in
DataFrame.**<br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [205]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

mean_scores = df.groupby('name')['score'].mean()

print(mean_scores)

name
Anastasia    12.5
Dima          9.0
Emily         9.0
James         NaN
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64

**Q17. Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.** <br> 
<b>exam_data </b>= {<br> 
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], <br> 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], <br> 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], <br> 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br> } <br> 
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] <br>
**Values for each column will be:** <br> 
<i>name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"</i>

In [209]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

new_row_data = {'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}
df.loc['k'] = new_row_data

print("DataFrame with New Row:")
print(df)

DataFrame with New Row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

**Q18. Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],<br> 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], <br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>} <br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] <br>
**Values for each column will be:**
<i>name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k" </i>

In [225]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

sorted_df = df.sort_values(by=['name', 'score'], ascending=[False,True])

print(sorted_df)

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

**Q19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.** <br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [228]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

df['qualify'] = df['qualify'].map({'yes': True, 'no': False})

print(df)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

**Q20. Write a Python program to delete the 'attempts' column from the DataFrame.**<br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [241]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

df.drop('attempts', axis=1,inplace=True)

print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

**Q21. Write a Python program to insert a new column in existing DataFrame.**<br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [250]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

df['remarks'] = ['None','efd','fsfsf','sffsf','fsdf','sfds','sdfsdf','tegth','rbsg','bgdrgb']

print(df)

        name  score  attempts qualify remarks
a  Anastasia   12.5         1     yes    None
b       Dima    9.0         3      no     efd
c  Katherine   16.5         2     yes   fsfsf
d      James    NaN         3      no   sffsf
e      Emily    9.0         2      no    fsdf
f    Michael   20.0         3     yes    sfds
g    Matthew   14.5         1     yes  sdfsdf
h      Laura    NaN         1      no   tegth
i      Kevin    8.0         2      no    rbsg
j      Jonas   19.0         1     yes  bgdrgb

**Q22. Write a Python program to iterate over rows in a DataFrame.**

In [254]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Name: {row['name']}, Score: {row['score']}, Attempts: {row['attempts']}, Qualify: {row['qualify']}")
    print()

Index: a
Name: Anastasia, Score: 12.5, Attempts: 1, Qualify: yes

Index: b
Name: Dima, Score: 9.0, Attempts: 3, Qualify: no

Index: c
Name: Katherine, Score: 16.5, Attempts: 2, Qualify: yes

Index: d
Name: James, Score: nan, Attempts: 3, Qualify: no

Index: e
Name: Emily, Score: 9.0, Attempts: 2, Qualify: no

Index: f
Name: Michael, Score: 20.0, Attempts: 3, Qualify: yes

Index: g
Name: Matthew, Score: 14.5, Attempts: 1, Qualify: yes

Index: h
Name: Laura, Score: nan, Attempts: 1, Qualify: no

Index: i
Name: Kevin, Score: 8.0, Attempts: 2, Qualify: no

Index: j
Name: Jonas, Score: 19.0, Attempts: 1, Qualify: yes

**Q23. Write a Python program to get list from DataFrame column headers.**<br>
<b>exam_data</b> = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
<b>labels</b> = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [257]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

column_headers = list(df.columns)

print(column_headers)

['name', 'score', 'attempts', 'qualify']